
.header
{background-color: rgb(56, 53, 53);
    color: white;
}
.modelsize{

    width: 80%;
    
}
table{
    margin-left: 20px;
}
table tr td{
 width: 100px;
 text-align: center;
}
table tr th{
    font-size: 15px;
    margin-left: 50 px;
    background-color: rgb(228, 225, 225);
    text-align: center;
}

.inputfeild{
    width: 200px;
    margin-right:200px;
}
.btn{
    margin: 10px;
}